body {
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color:#040273;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-decoration: underline;
    
}


  main {
    padding: 20px;
    color: #000000;
  }
  
  section {
    margin-bottom: 20px;
}
 #container1 {
    float: left;
    width: 50%;
    padding-right: 10px;
    box-sizing: border-box;
   
}
section {
    margin-bottom: 20px;
}

#container2 {
    float: left;
    width: 50%;
    padding-left: 10px; 
    box-sizing: border-box;
    border-left: 3px solid #b40fab;
    align-content: center;
    color: #c319c3;
}

.skill-list {
    list-style-type: none;
    padding: 0;
}

.skill-list li {
    margin-bottom: 10px;
}

.skill-bar {
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}

.skill-progress {
    height: 100%;
    background-color: #040273;
    border-radius: 5px;
    transition: width 0.6s ease;
}

@media screen and (max-width: 1000px){
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}